@media (min-width: 800px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 1100px;
    margin: auto;
    margin-top: 5rem;
  }

  .grid_2-1-2 {
    display: grid;
    grid-template-columns: 2fr 0.5fr 1fr 0.5fr 2fr;
    grid-template-rows: 100px 200px 150px;
    max-width: 800px;
    padding-top: 2rem;
    margin-left: 5rem;
    margin-top: 2rem;
  }

  .grid_2-1-2 > img:first-child {
    grid-column: 2/5;
    grid-row: 1/3;
  }
  .grid_2-1-2 > img:nth-child(2) {
    grid-column: 1/3;
    grid-row: 2/4;
  }
  .grid_2-1-2 > img:last-child {
    grid-column: 4/6;
    grid-row: 2/4;
  }

  .grid_1-1-1-1_image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 600px;
    margin: -10rem 5rem 5rem;
  }

  .grid_1-1-1-1_image > img:first-child {
    grid-column: 1/3;
    grid-row: 3/5;
  }
  .grid_1-1-1-1_image > img:nth-child(2) {
    grid-column: 2/4;
    grid-row: 2/4;
  }
  .grid_1-1-1-1_image > img:last-child {
    grid-column: 3/5;
    grid-row: 1/3;
  }

  .grid_1-1-1-1_image_reverse {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 600px;
    margin-left: 40rem;
  }

  .grid_1-1-1-1_image_reverse > img:first-child {
    grid-column: 3/5;
    grid-row: 3/5;
  }
  .grid_1-1-1-1_image_reverse > img:nth-child(2) {
    grid-column: 2/4;
    grid-row: 2/4;
  }
  .grid_1-1-1-1_image_reverse > img:last-child {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  #project_3 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  #project_4 {
    grid-column: 3/4;
  }

  #project_5 {
    grid-row: 2/3;
    grid-column: 4/5;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding-top: 2rem;
  }

  #studiestart {
    margin-left: 50rem;
    margin-top: 5rem;
  }

  #presentation {
    margin-left: 8rem;
    margin-top: -20rem;
    margin-bottom: 10rem;
  }

  #dokumentation {
    margin-top: 5rem;
    margin-left: 50rem;
  }

  #animation_imagegrid {
    margin-left: 30rem;
  }

  #animation_imagegrid_2 {
    margin-left: 40rem;
  }

  #blabla {
    margin-left: 8rem;
    margin-top: 5rem;
  }

  #blablabla {
    margin-left: 8rem;
  }

  .window_container {
    height: 700px;
    width: 1000px;
    overflow: hidden;
    margin: auto;
  }

  #indhold_image_grid_1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #lorem {
    margin-left: 50rem;
    margin-top: 2rem;
  }

  #ipsum {
    margin: 5rem 8rem;
  }
}
