@media (min-width: 800px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 1100px;
    margin: auto;
    margin-top: 5rem;
  }

  .grid_2-1-2 {
    display: grid;
    grid-template-columns: 2fr 0.5fr 1fr 0.5fr 2fr;
    grid-template-rows: 100px 200px;
    max-width: 1000px;
    padding-top: 2rem;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .grid_2-1-2 > div:first-child {
    grid-column: 2/5;
    grid-row: 1/3;
  }
  .grid_2-1-2 > div:nth-child(2) {
    grid-column: 1/3;
    grid-row: 2/4;
  }
  .grid_2-1-2 > div:last-child {
    grid-column: 4/6;
    grid-row: 2/4;
  }

  .grid_1-1-1-1_image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 800px;
    margin-left: 5rem;
    margin-bottom: 5rem;
  }

  .grid_1-1-1-1_image > div:first-child {
    grid-column: 1/3;
    grid-row: 3/5;
  }
  .grid_1-1-1-1_image > div:nth-child(2) {
    grid-column: 3/5;
    grid-row: 1/3;
  }
  .grid_1-1-1-1_image > div:last-child {
    grid-column: 2/4;
    grid-row: 2/4;
  }

  .grid_1-1-1-1_image_reverse {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 800px;
    margin-left: 40rem;
  }

  .grid_1-1-1-1_image_reverse > div:first-child {
    grid-column: 3/5;
    grid-row: 3/5;
  }
  .grid_1-1-1-1_image_reverse > div:nth-child(2) {
    grid-column: 2/4;
    grid-row: 2/4;
  }
  .grid_1-1-1-1_image_reverse > div:last-child {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  #project_3 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  #project_4 {
    grid-column: 3/4;
  }

  #project_5 {
    grid-row: 2/3;
    grid-column: 4/5;
  }

  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding-top: 2rem;
  }

  #studiestart {
    margin-left: 50%;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  #ux_ui {
    margin-left: 8rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
  }

  #dokumentation {
    margin-left: 50%;
  }

  #animation_imagegrid {
    margin-left: 40%;
  }

  #animation_imagegrid_2 {
    margin-left: 40%;
  }

  #design_spil {
    margin-left: 8rem;
  }

  #time_attack {
    margin-left: 8rem;
    margin-bottom: 5rem;
  }

  .window_container {
    height: 700px;
    width: 1000px;
    overflow: hidden;
    margin: auto;
  }

  #indhold_image_grid_1 {
    margin-top: 2rem;
  }

  #mediaprod {
    margin-left: 50%;
    margin-top: -10rem;
  }

  #videosite_redesign {
    margin: 5rem 8rem;
  }
}
